 .delete-block {
  background-color: #dfdfdf;
  width: 50px;
  margin: 2px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.delete-block .delete-icon {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #7c7c7c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  cursor: pointer;
}