.progress-display {
	min-width: 200px;
}
.progress-bar {
	width: 100%;
	height: 15px;
	background-color: #9e9e9e;
	border-radius: 15px;
	overflow: hidden;
}
.progress-indicator {
	background-color: #6868af;
	height: 100%;
}
